<ion-tabs class="tabs-striped tabs-top ">

  
  <!-- overall view -->
  <ion-tab title="Overall" href="#/app/tab/overall">
    <ion-nav-view name="tab-overall"></ion-nav-view>
  </ion-tab>

  <!-- weekly view -->
  <ion-tab title="Last Week" href="#/app/tab/weekly">
    <ion-nav-view name="tab-weekly"></ion-nav-view>
  </ion-tab>

  <!-- monthly view -->
  <ion-tab title="Last Month" href="#/app/tab/monthly">
    <ion-nav-view name="tab-monthly"></ion-nav-view>
  </ion-tab>

  <!-- yearly view -->
  <ion-tab title="Last Year" href="#/app/tab/yearly">
    <ion-nav-view name="tab-yearly"></ion-nav-view>
  </ion-tab>

</ion-tabs>
