<ion-tabs class="tabs-striped tabs-top "> <!-- tabs-color-active-positive -->

  
  <!-- overall view -->
  <ion-tab title="Overall" href="#/tab/overall">
    <ion-nav-view name="tab-overall"></ion-nav-view>
  </ion-tab>

  <!-- weekly view -->
  <ion-tab title="Last Week" href="#/tab/weekly">
    <ion-nav-view name="tab-weekly"></ion-nav-view>
  </ion-tab>

  <!-- monthly view -->
  <ion-tab title="Last Month" href="#/tab/monthly">
    <ion-nav-view name="tab-monthly"></ion-nav-view>
  </ion-tab>

  <!-- yearly view -->
  <ion-tab title="Last Year" href="#/tab/yearly">
    <ion-nav-view name="tab-yearly"></ion-nav-view>
  </ion-tab>

</ion-tabs>
